html
body
  height 100%
  width 100%

button
  outline none
  border none

input
  border none
  outline none

ul
  list-style none

bdRadius(n)
  border-radius n

padding()
  padding arguments

flex()
  justify-content center
  align-items center